
.bg {
    /* The image used */
    background-image: url("../../assets/bg_3.jpg");
    /*background-color: #4156e3;*/
    
    margin-top: 0%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



h1{
    font-size: 4.44vw;
    color:#29aae3;
}

h2{
    font-size: 2.44vw;
    margin-bottom: 4%;
    color:#29aae3;
}

.list{
    font-size: 1.5vw;
    color: rgb(46, 46, 46);
    font-family:  sans-serif
}

.open-trans{
    overflow: hidden;
    transition-duration: 1.90s;
    transition-property: transform;
    animation: createBox 2s;
}

@keyframes createBox {
        from {
          transform: scale(0.60);
        }
        to {
          transform: scale(1);
    }
}

.slide {
    right: -3000px;
    -webkit-animation: slide 0.2s forwards;
    -webkit-animation-delay: 0.9s;
    animation: slide 1s forwards;
    animation-delay: 0.2s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right:0; }
}

.pt-8{
    padding-top:8%;
}

.mb-l{
    margin-bottom: 6%;
}


.box-white{
    background-color: white; opacity: 0.7;
    margin: 8%;
    margin-left: 14%;
}


@media (max-width: 760px){
    p{ font-size:  4.4vw;}
    
    .mobile{
        width: 84%;
        align-items: center;
    }
}

.box-black{
    background-color: black; opacity: 0.88;
    box-shadow: 5px 10px #29aae3;
    animation: flip;
}


  
.flipper1 {
-webkit-animation-name: flip;
        animation-name: flip;
-webkit-animation-duration: 1.6s;
        animation-duration: 1.6s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-animation-delay: 2.9s;
        animation-delay: 2.9s;
        
}

.flipper2 {
    -webkit-animation-name: flip;
            animation-name: flip;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 3.7s;
            animation-delay: 3.7s;
    }

.flipper3 {
    -webkit-animation-name: flip;
            animation-name: flip;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 4.8s;
            animation-delay: 4.8s;
    }

@-webkit-keyframes flip {
    from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
  }
  
@keyframes flip {
from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
to { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}


.mat-card-subtitle{color: #7f8080}

mat-card-content{
    margin: 5%;
}

.example-card {
    max-width: 300px;
    margin: 2%;
    margin-bottom: 3%;
    background-color: rgb(46, 44, 44);
    color: white;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  
}
.mat-dialog-content{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: none;

}
 

button{
    margin-top:2%;
    padding: 2.4%;
    margin-bottom: 2%;
    color: #29aae3;
    border-style: none;
    border-width: thin;
    opacity:0.78;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
    font-weight: bold;

}


button:hover{
    transition:1s;
    opacity: 0.60;
    font-size: 1.3em;
    color: #29aae3;
}