
<!-- HEADER -->
<app-header></app-header>
<!-- End Header -->


  <!-- Content here -->
<div class="container-fluid   ">
  
  <!-- First Layout  -->
  <div class="row text-center bg  mb-l">
    

    <div class="col-md-4   align-self-center slide pb-4 box-white" > 
      <div class="pt-5 list text-left pl-5">
        <h1 style="padding-bottom: 8%;">PORTOFOLIO</h1>
        <p>VER PARA CRER.</p>
        <p> UMA GALARIA COM TRABALHOS </p> 
        <p> DESENVOLVIDOS PELA DECCER </p>
        <p> PARA QUE ENCONTRE EXATAMENTE</p>
        <p>O QUE NECESSITA</p>
        
      </div>
    </div>
  </div>

  <!-- Second Layout  -->
  <div class="row pt-5 mb-l justify-content-center text-center" >
    <div class="col-md-3 m-4 p-5 box-black text-justify flipper1 ">
      <img style="width: 80px; height: 80px;" src="../../assets/s6.jpg">
      <h2>Credibilidade e Rigor no plano de orçamentação. Todos os trabalhos adjacentes listados e detalhados, ao favor do cliente.</h2>
    </div>
    <div class="col-md-3 m-4 p-5 box-black text-justify flipper2">
      <img style="width: 80px; height: 80px;" src="../../assets/s1.jpg">        
      <h2>Dinamismo na resposta. Gostamos de favorecer ao cliente uma vasta possiblidade de comunicação e acessibilidade. </h2>
    </div>
    <div class="col-md-3 m-4 p-5 box-black text-justify flipper3">
      <img style="width: 80px; height: 80px;" src="../../assets/s2.jpg">        
      <h2>Planeamento e resposta no prazo de uma semana a todos os orçamentos.</h2>
    </div>

    <div class="col-md-3 m-4 p-5 box-black text-justify flipper1 ">
      <img style="width: 80px; height: 80px;" src="../../assets/s4.jpg">
      <h2>Credibilidade e Rigor no plano de orçamentação. Todos os trabalhos adjacentes listados e detalhados, ao favor do cliente.</h2>
    </div>
    <div class="col-md-3 m-4 p-5 box-black text-justify flipper2">
      <img style="width: 80px; height: 80px;" src="../../assets/s5.jpg">        
      <h2>Dinamismo na resposta. Gostamos de favorecer ao cliente uma vasta possiblidade de comunicação e acessibilidade. </h2>
    </div>
    <div class="col-md-3 m-4 p-5 box-black text-justify flipper3">
      <img style="width: 80px; height: 80px;" src="../../assets/s3.jpg">        
      <h2>Planeamento e resposta no prazo de uma semana a todos os orçamentos.</h2>
    </div>

    <div class="col-md-3 m-4 p-5 box-black text-justify flipper3">
      <img style="width: 80px; height: 80px;" src="../../assets/s4.jpg">        
      <h2>Planeamento e resposta no prazo de uma semana a todos os orçamentos.</h2>
    </div>

  </div>

</div>


<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->