

<ngb-carousel class="ngb-carousel" *ngIf="images">

  <ng-template  ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="bg" src="../../assets/remo1.jpg" alt="Random first slide">
    </div>

    <!-- Mobile -->
    <div class=" carousel-caption  d-block d-sm-none  "  style="margin-bottom:20%; ">

      <img data-aos="fade-down" data-aos-duration="1300" class="mb-5 " src="../../assets/deccer.png" >
      <h1 data-aos="fade-down" data-aos-duration="1300"> Canalizações</h1>
      <h1 data-aos="fade-down" data-aos-duration="1300"> </h1>


      <p class="text-justify  p-2">A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>
      
      <button class="mt-4 " ><a href="/orcamento"> Contactar  </a></button>
    
    </div>

    <!-- Web -->
    <div class="carousel-caption  d-none d-sm-block  ">

      <h1 class="" data-aos="fade-down" data-aos-duration="1000" >Canalizações</h1>

      <p data-aos="fade-down" data-aos-duration="1000">A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>

      <button class="mt-4 btn-orc " data-aos-duration="1900" ><a href="/orcamento"> Contactar  </a></button>

    </div>

  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="bg" src="../../assets/tel12b.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption d-block d-sm-none "  style="margin-bottom:20%;">
      <img class="mb-5" src="../../assets/deccer.png" >
      <h1 class=""> Coberturas</h1>
      <h1 class=""> E Funilarias</h1>

      <p class="text-justify  p-2">A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>
      <button class="mt-4 btn-orc" ><a href="/orcamento"> Contactar </a></button>
    </div>

    <div class="carousel-caption d-none d-sm-block ">
        <h1>Coberturas e Funilarias</h1>
        <p>A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>
        <button class="mt-4 btn-orc" ><a href="/orcamento"> Contactar  </a></button>
      </div>

  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="bg" src="../../assets/int1.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption d-block d-sm-none "  style="margin-bottom:20%;">
      <img class="mb-5" src="../../assets/deccer.png" >
      <h1 class=""> Remodelações</h1>
      <h1 class=""> </h1>

      <p class="text-justify  p-2">A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>
      <button class="mt-4 btn-orc" ><a href="/orcamento"> Contactar  </a></button>
    </div>

    <div class="carousel-caption  d-none d-sm-block ">
      <h1>Remodelações</h1>
      <p>A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>
      <button class="mt-4 btn-orc" ><a href="/orcamento"> Contactar  </a></button>
    </div>

  </ng-template>

  

</ngb-carousel>