

.nav-color , a{
    /*background-color: #fdfdfd;*/
    color: #29aae3;
    font-weight: none;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    opacity: 0.98;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
}

li,ul{
    list-style-type: none;
    font-size: 15.5px;
    transition: 0.5s;
    font-family:Roboto, "Helvetica Neue", sans-serif;

}

.bg-color{
    background-color: #29aae3;
    color: white;
    opacity: 0.88;
    margin-right: auto;
    margin-left: auto;
}

li:hover{
    font-weight: bold;
    color: rgb(155, 204, 241);
}

.navbar-toggler {
    outline: none;
}
p{
    font-family:Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;

}

a{
    text-decoration: none;
}

.nav-logo{
    width: 34%;
    height: 34%;
    margin-right: none;
    margin-top: 0%;
    padding-top: 3%;
}


div {

    position: relative;
    animation-duration: 2s;  
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
  }
  
  @keyframes example {
    from {top: -511px; }
    to {top: 0px;}
  }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
