

.nav-color , a{
    /*background-color: #fdfdfd;*/
    color: #29aae3;
    font-weight: none;
    font-family:"Josefin Sans", Arial, Tahoma, sans-serif;
    opacity: 0.98;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
}

li,ul{
    list-style-type: none;
    font-size: 15.5px;
    transition: 0.5s;
    font-family:"Josefin Sans", Arial, Tahoma, sans-serif;
    transition: all .2s ease-in-out;
}

li:hover{
    transform: scale(1.03);
}

.bg-color{
    background-color: #29aae3;
    color: white;
    opacity: 0.88;
    margin-right: auto;
    margin-left: auto;
}



.navbar-toggler {
    outline: none;
}
p{
    font-family:"Josefin Sans", Arial, Tahoma, sans-serif;
    font-weight: bold;

}

a{
    text-decoration: none;
}

.nav-logo{
    width: 34%;
    height: 34%;
    margin-right: none;
    margin-top: 0%;
    padding-top: 3%;
}


div {

    position: relative;
    animation-duration: 2s;  
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
  }
  
 