<header >
    <nav class="navbar navbar-expand-lg text-left   nav-color">
        <a class="text-right d-none d-sm-block" href="#">
          <img class="nav-logo text-center" src="./assets/logo2.png">
        </a>

        <a class="text-left d-block d-sm-none" href="#">
          <img class="nav-logo text-center" src="./assets/logo2.png">
        </a>
      
        <div class="collapse navbar-collapse d-flex " id="navbar1Nav">
          <ul class="navbar-nav p-2 ">
            <li class="nav-item active">
              <a class="nav-link" href="/servico">Serviços <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/portofolio">Portofolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orcamento">Orçamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contactos">Contactos</a>
            </li>
          </ul>
        </div>
    </nav> 
  </header>
