
<!-- HEADER -->
<header >

  <nav class="navbar navbar-expand-lg   nav-color">
      <a class="text-right" href="#">
        <img class="nav-logo text-center" src="./assets/deccer.png">
      </a>
    
      <div class="collapse navbar-collapse d-flex " id="navbarNav">
        <ul class="navbar-nav p-2 ">
          <li class="nav-item active bold">
            <a class="nav-link" href="/servico">SERVIÇOS <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item bold">
            <a class="nav-link " href="/portofolio">PORTOFOLIO</a>
          </li>
          <li class="nav-item bold" >
            <a class="nav-link" href="/orcamento">ORÇAMENTOS</a>
          </li>
          <li class="nav-item bold">
            <a class="nav-link" href="#contactos">CONTACTOS</a>
          </li>
        </ul>
      </div>
  </nav> 
</header>



<!-- End Header -->


  <!-- Content here -->
<div class="container-fluid ">
  
  <!-- First Layout  -->
  <div class="row justify-content pb-5  ">
   
    <app-carousel-navigation class="carousel" ></app-carousel-navigation> 
    
  </div>

  <!-- Servico Layout  -->
  <div class="container  justify-content-center text-center pt-l pb-l "  >

    <app-comp-servico></app-comp-servico>

  </div>


  <!-- Orcamento Layout-->
  <div class="Content row bg4 pt-l pb-l align-items-center" id="price">
    
    <div class="col-md-12 col-xs-4  text-left text-sm-center mob-orc align-self-center orc-middle" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"> 
      <div><h1 class="h1-w line ">ORCAMENTOS GRATUITOS</h1></div>
      <div class="text-white  m-0" > Peça o seu orçamento sem qualquer custo, com resposta em 24h</div>
      <div class="text-white  m-0 pb-3"> pela nossa equipa. Avance para saber mais...</div>
      <button id="orc" class="mt-5 hint ml-1" style="background-color:#29aae3; border-color: rgb(79, 173, 236); border-width: 2px;">
        <a class="p-4 pt-5" href="/orcamento" style=" color: rgb(236, 240, 241); ">Orçamento</a>  
      </button>

    </div>

  </div>

  <!-- Lista de Parceiros -->
  <div class="Content row text-center justify-content-md-center pt-l pb-l " id="price"  data-aos-duration='2000'>
    
    <div class="col-md-12 mb-4">
      <h2 class="h2 font-weight-bold">LISTA DE PARCEIROS</h2>
    </div>

    <div class="row align-items-center">
      <div class="col " data-aos="flip-left"  data-aos-duration='2000'>
        <img class="soft-hover" src="../../assets/AF.png" (click)="openInstagram('af')" >
      </div>
      <div class="col" data-aos="flip-left"  data-aos-duration='2000'>
        <img src="../../assets/PEIXO.jpg">
      </div>
      <div class="col" data-aos="flip-left"  data-aos-duration='2000'>
        <img src="../../assets/vis.jpg">
      </div>
      <div class="col " data-aos="flip-left"  data-aos-duration='2000'>
        
        <img class="soft-hover" (click)="openInstagram('jun')" src="../../assets/ave.jpg"> 
      </div>
             
    </div>
    
  </div>


  <!--<div class="row justify-content-center" style="background-color: #e2e3e5;">
    <div class="col-md-5 pt-5 pb-5 mt-5 mb-5  ">
      <img src="../../assets/port2.jpg" style="width: 75%; height: 100%;">
    </div>

    <div class="col-md-5 text-center">
      <h1>OBRAS CONCLUIDAS</h1>>
    </div> 

  </div> -->

</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->
