
<!-- HEADER -->
<app-header>

</app-header>
<!-- End Header -->


<!-- Content here -->
<div  class="container-fluid">
  
  <!-- First Layout  -->
  <div class="row  bg justify-content-center pt-5 pb-4">

    <div class="col-md-6 mb-5  text-center mt-5 title" > 
      <h1 class="title-text"> C A N A L I Z A Ç Õ E S </h1>
    </div>

    <div class="col-md-12 text-center">
        <button class=" mb-5"><a href="/orcamento"> Pedir Orçamento</a></button>
    </div>
  </div>


</div>

<!-- Second Content here-->
<div class="container-fluid">
   
    <div class="row justify-content-center p-5">

        <div class="col-md-2 col-sm-3  box-gray p-5 text-center m-2 shadow-sm " > 
          <fa-icon [icon]="faRing" size="3x"></fa-icon>
          <p class="mt-3" > PP-R </p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2  shadow-sm" > 
          <fa-icon [icon]="faKaaba" size="3x"></fa-icon>
          <p class="mt-3" > Aço-Inox</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2 shadow-sm" > 
          <fa-icon [icon]="faPager" size="3x"></fa-icon>
          <p class="mt-3" > PEX</p>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col-md-2 col-sm-3  box-gray p-5 text-center m-2 shadow-sm " > 
          <fa-icon [icon]="faBezierCurve" size="3x"></fa-icon>
          <p class="mt-3" > MultiCamada</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2  shadow-sm" > 
          <fa-icon [icon]="faCircle" size="3x"></fa-icon>
          <p class="mt-3" > PVC</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2 shadow-sm" > 
          <fa-icon [icon]="faLifeRing" size="3x"></fa-icon>
          <p class="mt-3" > Hidronil</p>
        </div>

    </div>

</div>

<div class="container-fluid ">
  
  <div class="row justify-content-center align-items-center">

    <div class="col-md-4 text-center p-5">
      <div class="image_can text-center"></div>
    </div>

    <div class="col-md-5 text-left  p-5">
      <div>
        <h2 style="color: black;"> CANALIZAÇÃO PPR </h2>
      </div>
      <div>
        Trabalhos realizados com tubagem de distribuição de água fria e quente  formada por tubo de polipropileno copolímero random (PP-R), série 5, entre 16mm e 32 mm de diâmetro exterior, com até 2,9 mm de espessura, colocado superficialmente no interior do edifício, com isolamento através de espuma elastomérica se pretendido. Incluindo material auxiliar para montagem e fixação, acessórios e peças especiais. Totalmente montada, ligada e testada.
      </div>
    </div>

  </div>

</div>

<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->