
<!-- HEADER -->
<app-header>
  
</app-header>
<!-- End Header -->


<!-- Content here -->
<div  class="container-fluid">
  
  <!-- First Layout  -->
  <div class="row  bg justify-content-center pt-5 pb-4">

    <div class="col-md-5 m-5  text-center mt-5 title " > 
      <h1 class="title-text"> I N T E R I O R E S</h1>
    </div>

    <div class="col-md-12 text-center">
        <button class=" mb-5"><a href="/orcamento"> Pedir Orçamento</a></button>
    </div>
  </div>


</div>

<!-- Second Content here-->
<div class="container-fluid">
   
    <div class="row justify-content-center p-5">

        <div class="col-md-2 col-sm-3  box-gray p-5 text-center m-2 shadow-sm " > 
          <fa-icon [icon]="faPaintRoller" size="3x"></fa-icon>
          <p class="mt-3" > Pinturas</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2  shadow-sm" > 
          <fa-icon [icon]="faKaaba" size="3x"></fa-icon>
          <p class="mt-3" > Ceramicas</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2 shadow-sm" > 
          <fa-icon [icon]="faHammer" size="3x"></fa-icon>
          <p class="mt-3" > Pavimentos</p>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        

    </div>

</div>

<!-- Thrid Content -->
<div class="container-fluid" class="bg-color">
  
  <!-- Remodelações -->
  <div class="row justify-content-center align-items-center pt-5">
  
    <div class="col-md-4 text-center p-5">
      <div class="image_rem text-center"></div>
    </div>

    <div class="col-md-5 text-left  p-5 ">
      <div>
        <h2 style="color: black;"> Remodelações </h2>
      </div>
      <div>
        Remodelações totais no interior de casas de banho. Desde do acentamento de ceramicas, nova intalação de canalização, instalação de sanitas, lavatorios, banehiras e bases de duche. Preocupamos nos com o rigor e apresentação final do trabalho
      </div>
    </div>


  </div>

  <!-- Pinturas -->
  <div class="row justify-content-center align-items-center">

    <div class="col-md-5 text-left  p-5 d-none d-sm-block">
      <div>
        <h2 style="color: black;"> Pinturas Interior </h2>
      </div>
      <div>
        Outros trabalhos que mais desenvolvemos, é a pintura e tratamento de interiores. Com aplicação de tintas brilhantes, ou mate, a nossa preocupação é deixar tudo ao agrado do cliente, com a utilização dos melhores e mais condicionados materiais de pintura. 
      </div>
    </div>

    <div class="col-md-4 text-center p-5">
      <div class="image_pin text-center"></div>
    </div>

    <div class="col-md-5 text-left  p-5 d-block d-sm-none ">
      <div>
        <h2 style="color: black;"> Pinturas Interior </h2>
      </div>
      <div>
        Outros trabalhos que mais desenvolvemos, é a pintura e tratamento de interiores. Com aplicação de tintas brilhantes, ou mate, a nossa preocupação é deixar tudo ao agrado do cliente, com a utilização dos melhores e mais condicionados materiais de pintura. 
      </div>
    </div>

  </div>

</div>

<!-- Four Content -->
<div class="container-fluid pt-5 mt-5 mb-5">

  <div class="row justify-content-center mb-5 ">
    <ngb-carousel *ngIf="images" class="mobile-row "  >
      <ng-template ngbSlide >
        <div class="picsum-img-wrapper">
          <img  [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>1500m de TUBO PP-R</h3>
          <p>Obra em espinho concluida, com mais de 1500m de tubo PPR intalados em 7 predios. </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Hidronil 1''</h3>
          <p>Novas intalações de contadores de agua, com tubagem hidronil.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Multicamada</h3>
          <p>Substituição de tubagem em ferro, para multi cadama no interior de uma casa de banho.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="row justify-content-center pt-4"> 

    <div class="col-12 text-center mb-3" style="opacity: 0.89">
      <h2> Deseja um Orçamento Gratuito ?</h2>
    </div>

    <div class="col-12 text-center">
      <button>
        <a href="/orcamento">
          Contactar Agora
        </a>
      </button>
    </div>
    
  </div>
</div>

<!-- Last Layer -->
<div class="container-fluid  bg-other pt-5 pb-5">

  <div class="row justify-content-center p-4 "> 

    <div class="col-md-11 text-center">
      <p style="color: #29aae3;"> NA DECCER TAMBÉM PODE ENCONTRAR</p>
      <h1 class="mb-5">
        Mais trabalhos Realizados
      </h1>
    </div>

    <div class="col-md-2 col-sm-3  box-rad p-5 text-center m-2 shadow-sm " > 
      <p class="mt-3 text-box" ><a href="/servico/canalizacoes"> CANALIZAÇÕES</a>  </p>
    </div>

    <div class="col-md-2 col-sm-3  box-inc p-5 text-center m-2 shadow-sm " > 
      <p class="mt-3 text-box" > <a href="/servico/exteriores"> TELAS </a>  </p>
    </div>

    <div class="col-md-2 col-sm-3  box-rega p-5 text-center m-2 shadow-sm " > 
      <p class="mt-3 text-box" > SIS. REGA </p>
    </div>

    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

  </div>

</div>


<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->