
<!-- HEADER -->
<app-header>
  
</app-header>
<!-- End Header -->


<!-- Content here -->
<div  class="container-fluid">
  
  <!-- First Layout  -->
  <div class="row  bg justify-content-center pt-5 pb-4">

    <div class="col-md-6 mb-5  text-center mt-5 title " > 
      <h1 class="title-text"> E X T E R I O R E S </h1>
    </div>

    <div class="col-md-12 text-center">
        <button class=" mb-5"><a href="/orcamento"> Pedir Orçamento</a></button>
    </div>
  </div>


</div>

<!-- Second Content here-->
<div class="container-fluid">
   
    <div class="row justify-content-center p-5">

        <div class="col-md-2 col-sm-3  box-gray p-5 text-center m-2 shadow-sm " > 
          <fa-icon [icon]="faPaintRoller" size="3x"></fa-icon>
          <p class="mt-3" > Pinturas</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2  shadow-sm" > 
          <fa-icon [icon]="faKaaba" size="3x"></fa-icon>
          <p class="mt-3" > Impermeabilizações</p>
        </div>
        <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2 shadow-sm" > 
          <fa-icon [icon]="faHammer" size="3x"></fa-icon>
          <p class="mt-3" > Restauros</p>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        

    </div>

</div>




<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->