
<!-- HEADER -->
<app-header>

</app-header>
<!-- End Header -->


<!-- Content here -->
<div  class="container-fluid">
  
  <!-- First Layout  -->
  <div class="row  bg justify-content-center pt-5 pb-4">

    <div class="col-md-6 mb-5  text-center mt-5 title" > 
      <h1 class="title-text"> T E L H A D O S </h1>
    </div>

    <div class="col-md-12 text-center">
        <button class=" mb-5"><a href="/orcamento"> Pedir Orçamento</a></button>
    </div>
  </div>


</div>

<!-- Second Content here-->
<div class="container-fluid">
   
    <div class="row justify-content-center p-5">

      <div class="col-md-2 col-sm-3  box-gray p-5 text-center m-2 shadow-sm " > 
        <fa-icon [icon]="faRing" size="3x"></fa-icon>
        <p class="mt-3" > Caleiras  </p>
      </div>
      <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2  shadow-sm" > 
        <fa-icon [icon]="faSquare" size="3x"></fa-icon>
        <p class="mt-3" > Guieiros </p>
      </div>
      <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2 shadow-sm" > 
        <fa-icon [icon]="faPager" size="3x"></fa-icon>
        <p class="mt-3" > Rufos </p>
      </div>

      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>

      <div class="col-md-2 col-sm-3  box-gray p-5 text-center m-2 shadow-sm " > 
        <fa-icon [icon]=" faKaaba" size="3x"></fa-icon>
        <p class="mt-3" > Telas</p>
      </div>
      <div class="col-md-2 col-sm-3 box-gray p-5 text-center m-2  shadow-sm" > 
        <fa-icon [icon]="faWrench" size="3x"></fa-icon>
        <p class="mt-3" > Manutenções</p>
      </div>
      

        

    </div>

</div>




<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->