
<!-- HEADER -->
<app-header></app-header>
<!-- End Header -->


  <!-- Content here -->
<div class="container-fluid   ">
  
  <!-- First Layout  -->
  <div class="row text-center bg  mb-l">
    <div class="col-md-6 pt-8 pb-5 ">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Nome:</mat-label>
          <input matInput placeholder="Ex: Tiago Andrade">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Nome Completo</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Temelovel:</mat-label>
          <input matInput placeholder="Ex: Tiago Andrade">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Numero Tel/Tef</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Morada:</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Local da Obra</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>E-mail pessoal ou empresa</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" >
          <mat-label>Descrição:</mat-label>
          <textarea style="height: 140px; width: 330px;" matInput></textarea>
        </mat-form-field>
      </p>
        <button>Enviar</button>
    </div>

    <div class="col-md-4  d-none d-sm-block align-self-center slide pb-4 box-white" > 
      <div class="pt-5 list text-right pr-4">
        <h1 style="padding-bottom: 8%;">ORÇAMENTO</h1>
        <p>GARANTIA MINÍMA DE 5 ANOS</p>
        <p>OS PRAZOS SÃO PARA CUMPRIR</p>
        <p>NÃO HÁ SURPRESAS NO PREÇO*</p>
        <p>PROFISSIONAIS COM MAIS DE 40 ANOS DE EXPERIENCIA</p>

        
      </div>
    </div>
  </div>

  <!-- Second Layout  -->
  <div class="row pt-5 mb-l justify-content-center text-center" >
      
      <div class="col-md-3 m-4 p-5 box-black text-justify flipper1 ">
        <img style="width: 80px; height: 80px;" src="../../assets/orc1.png">
        <h2>Credibilidade e Rigor no plano de orçamentação. Todos os trabalhos adjacentes listados e detalhados, ao favor do cliente.</h2>
      </div>
      <div class="col-md-3 m-4 p-5 box-black text-justify flipper2">
        <img style="width: 80px; height: 80px;" src="../../assets/orc2.png">        
        <h2>Dinamismo na resposta. Gostamos de favorecer ao cliente uma vasta possiblidade de comunicação e acessibilidade. </h2>
      </div>
      <div class="col-md-3 m-4 p-5 box-black text-justify flipper3">
        <img style="width: 80px; height: 80px;" src="../../assets/orc3.png">        
        <h2>Planeamento e resposta no prazo de uma semana a todos os orçamentos.</h2>
      </div>
      
  </div>

</div>


<!-- Footer -->
  <app-footer id="footer"></app-footer>
<!-- Footer -->
