
<!-- HEADER -->
<app-header></app-header>
<!-- End Header -->


  <!-- Content here -->
<div  class="container-fluid">
  
  <!-- First Layout  -->
  <div class="row text-center bg  mb-l">
    

    <div class="col-md-4   align-self-center slide pb-4 box-white" > 
      <div class="pt-5  text-left pl-5 ">
        <h1 style="padding-bottom: 8%;">SERVIÇOS</h1>
        <p>CANALIZAÇÕES E AQUECIMENTOS</p>
        <p>REMODELAÇÕES DE INTERIOR</p>
        <p>FACHADAS E TERRAÇOS</p>
        <p>FUNILARIAS E TELHADOS</p>        
      </div>
      
    </div>
  </div>

  <div class=" fixed-bottom text-right slide-after">
    <button><a href="/orcamento"> PEDIR ORÇAMENTO</a></button>
  </div>

  <!-- CAN Layout  -->
  <div id="canalizacoes" class="row  p-0 m-l justify-content-center text-center" >
    <div class="col-md-4 row  color-left p-0 text-justify ">
      <div class="col-12 col-md-12 p-5">
        <h2 class="mb-5">CANALIZAÇÕES</h2>
        <p>Os serviços de apoio disponibilizadas pela DECCER passam por uma vasta gama de operações, dando uma enfase à instalação de canalizações.
          Atualmente, com profissionais na area à mais de 40 anos, ofereçemos um ampla gama de serviços e variedade na execução dos trabalhos.
          Conhecimento em todos os materias relacionados com a area, temos a solução para os seus problemas.
        </p>
      </div>
      
       <div class="col-md-12 color-left btn p-0 m-0 d-flex justify-content-center" >
          <button>Saber Mais</button>
       </div>
    </div>

    <div class="col-md-8 bg-can serv" style="bottom:0px">
    </div>
  </div>

  
  <!-- TEL Layout  -->
  <div id="telhados" class="row p-0 m-l justify-content-center text-center" >
    
    <div class="col-md-8 bg-tel serv">

    </div>

    <div class="col-md-4 row color-left p-0  text-justify">
      <div class="col-md-12 p-5">
        <h2 class="mb-5">TELHADOS</h2>
        <p>O telhado representa proteção para a edificação e para as pessoas que a utilizam. Porém, para que ele desempenhe essa função, a manutenção de telhados não pode ser deixada de lado.
          A manutenção periódica é muito importante pois diversos danos ao telhado, como rachadelas e deslocamentos nas
           telhas, entupimento das calhas, passaros que danificam o telhado, todos estes factores sao a ter em consideração para uma manutenção
           podendo prolongar, definitivamente, a vida útil e durabilidade do seu telhado.
        </p>
      </div>

      <div class="col-md-12 color-left btn p-0 m-0  d-flex justify-content-center" >
        <button>Saber Mais</button>
     </div>
     
    </div>

    
  </div>

  <!-- FUN Layout  -->
  <div id="funilarias" class="row p-0 m-l justify-content-center text-center" >
    <div class="col-md-4 row color-left p-0 text-justify">
      <div class="col-md-12 p-5">
        <h2 class="mb-5">FUNILARIAS</h2>
        <p>A utilização de chapas no exterior são uma fonte viavel de prevenir humidades e possiveis infiltrações no telhado. 
          A mesma usabilidaed da chapa, pode ser no interior de edificios ou casas, cobrindo potenciais trabalhos adjacentes de forma a
          dar uma melhor estetica ao seu establecimento;
         </p>
      </div>

      <div class="col-md-12 color-left btn p-0 m-0  d-flex justify-content-center" >
        <button>Saber Mais</button>
     </div>

      </div>
     
    <div class="col-md-8 bg-fun serv" >

    </div>
  </div>

  <!-- EXT Layout  -->
  <div id="exteriores" class="row p-0 m-l justify-content-center text-center " >
    
    <div class="col-md-8 bg-ext serv">

    </div>

    <div class="col-md-4 row color-left p-0 text-justify ">
      <div class="col-md-12  p-5">
        <h2 class="mb-5">EXTERIORES</h2>
        <p>A cara de sua casa, começa pelo exterior. A sua manutenção e reabilitação é tão importante como o seu interior. 
          Desde do levantamento da sua alvarina, com a aplicação de um reboco impermeabilizante hidrofugado e a utilização de tintas especificas para uma boa qualidade 
          e tratamento da sua fachada, são processos que nunca deverão ser deixados de lado. 
        </p>
      </div>
      
      <div class="col-md-12 color-left btn p-0 m-0  d-flex justify-content-center" >
        <button>Saber Mais</button>
     </div>
      
    </div>

  </div>

</div>




<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->