
a,li{
    text-decoration: none;
    color: white;
    margin-top:5%;
    margin-bottom: 5%;
    transition: 0.14s;
    font-size: 100%;
}

.bg {
    /* The image used */
    background-image: url("../../assets/bg_2d.jpg");
    /*background-color: #4156e3;*/
    min-height: 444px;
    margin-top: 0%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-can {
    /* The image used */
    background-image: url("../../assets/cont1blue.jpg");
    /*background-color: #4156e3;*/
    
    margin-top: 0%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


.bg-tel {
    /* The image used */
    background-image: url("../../assets/s3blue.jpg");
    /*background-color: #4156e3;*/
    
    margin-top: 0%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.bg-fun {
    /* The image used */
    background-image: url("../../assets/s1blue.jpg");
    /*background-color: #4156e3;*/
    
    margin-top: 0%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.bg-ext {
    /* The image used */
    background-image: url("../../assets/s7blue.jpg");
    /*background-color: #4156e3;*/
    
    margin-top: 0%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


h1{
    font-size: 60px;
    color:#29aae3;
    font-family:Roboto, "Helvetica Neue", sans-serif;
}

h2{
    padding-top: 8%;
    color: #29aae3;
    font-size: 2.6vw;
    font-style: bold;
    font-family:Roboto, "Helvetica Neue", sans-serif;

}



.color-left{
    background-color: rgb(230, 225, 225);
    font-family:Roboto, "Helvetica Neue", sans-serif;
    font-style: BOLD;
    color: #363636;

}

.open-trans{
    overflow: hidden;
    transition-duration: 1.90s;
    transition-property: transform;
    animation: createBox 2s;
}

@keyframes createBox {
        from {
          transform: scale(0.60);
        }
        to {
          transform: scale(1);
    }
}

.slide {
    right: -3000px;
    -webkit-animation: slide 0.2s forwards;
    -webkit-animation-delay: 0.9s;
    animation: slide 1s forwards;
    animation-delay: 0.2s;
}

.slide-after {
    right: -3300px;
    -webkit-animation: slide 0.2s forwards;
    -webkit-animation-delay: 0.9s;
    animation: slide 1s forwards;
    animation-delay: 0.9s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right:0; }
}

.pt-8{
    padding-top:8%;
}

.mb-l{
    margin-bottom: 6%;
}

.m-l{
    margin:7%;
}

.box-white{
    background-color: white; 
    opacity: 0.77;
    margin: 8%;
    margin-left: 14%;
}

p{
    font-size:  13px;
    font-family:Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 760px){
    h1,h2{font-size:27px}
    p{ font-size:  12px;}
    
    .serv{
        max-height: 240px;
    }
}

button{
    outline: none;

    margin-top:2%;
    padding: 3.4%;
    margin-bottom: 4%;
    background-color: #29aae3;
    color: white;
    border-style: none;
    border-width: thin;
    font-size: 16px;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    transition: 1s;
}
button:hover{
    transition:1s;
    border-color: #29aae3;
    background-color: #29aae3;;
    opacity: 0.90;
    font-size: 18px;
    color: white;
    
}

.btn{
    padding-top:10%;
    background-color: #29aae3;
    width: 100%;
    opacity: 1;
}