<div class="col-md-12 ">
    <div class=" h1">  NOSSOS SERVIÇOS </div>
    <div class="h6" >QUE PODE ENCONTRAR NA DECCER</div>
  </div>

  <div  class="row align-items-center comp-servico mt-5 s1">
    <div class="col pb-3">
        <a href="/servico#canalizacoes">CANALIZAÇÕES E AQUECIMENTOS</a>
    </div>
</div>

<div  class="row align-items-center comp-servico mt-5 s2"> 
  <div class="col pb-3">
      <a href="/servico#exteriores">PINTURAS E REMODELAÇÕES </a>
  </div>
</div>

<div  class="row align-items-center comp-servico mt-5 s3">
  
  <div class="col pb-3">
      <a href="/servico#telhados">TELHADOS E FUNILARIAS</a>
  </div>

</div>

<div class="row align-items-center">
  <div class="col">

    <h1 class="servicos mt-5" style="color: rgb(69, 143, 192);">DESEJA SABER MAIS ?</h1>

    <button class="btn_servico" ><a href="/servico" class="btn_servico">Ver Serviços</a></button>

  </div>
</div>
